.nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#titulo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    justify-content: right;
}

.text{
    padding-right: 255px;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.barra{
    background-color: palevioletred;
    width: 100%;
    height: 65px;
}

.me-auto{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.section-topbar {
    background-color: #dfdd6c;
    color: #fff;
    fill: #fff;
}

.section-topbar {
    padding: 4px 0;
    line-height: 20px;
}

.collapse{
    display: flex;
    width: 100%;
}
